:root,
:host {
  --background: #fff;
  --color: #000;
  --color2: #555;
  --color3: #888;
  --light: #ccc;
  --shadow: #0001;
  --border: #ddd;
  --red: #f34;
}
@font-face {
  font-family: "en";
  src: url("../fonts/regular.woff2");
}
@font-face {
  font-family: "mono";
  src: url("../fonts/mono.woff2");
}
@font-face {
  font-family: "fa";
  src: url("../fonts/estedad.woff2");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "en","fa";
  text-align: auto !important;
  unicode-bidi: plaintext !important;
  -webkit-tap-highlight-color: transparent;
}
*:not(input):not(textarea):not(#input_pk_value):not(.selectable) {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.selectable {
  user-select: text;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: #0000;
}
::-webkit-scrollbar-thumb {
  background-color: #2253;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2255;
}
::-webkit-scrollbar-corner {
  background-color: #0000;
}
::-moz-selection {
  background-color: var(--color);
  color: var(--background);
}
::selection {
  background-color: var(--color);
  color: var(--background);
}
html,body {
  background-color: var(--background);
  color: var(--color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
textarea:focus, input:focus, select:focus {
  outline: 0;
}
a {
  color: var(--light);
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.pixelated {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-optimize-contrast: off;
}
hr {
  background-color: var(--border);
  width: 90%;
  height: 2px;
  border-radius: 1px;
  margin: 24px auto;
}

/*-- --*/

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.view {
  width: 100%;
  height: calc(100% - 72px);
}
.view .tab {
  display: none;
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 32px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
.view .tab.active {
  display: block;
}

.bar {
  width: 100%;
  height: 72px;
  box-shadow: 0 0 0 1px var(--border);
}
.bar .content {
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 72px;
  margin: 0 auto;
}
.bar .content div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.bar .content div.active img {
  background-color: var(--light);
}
.bar img {
  width: 100%;
  max-width: 64px;
  height: 32px;
  padding: 4px;
  transition: background-color 0.25s ease;
  border-radius: 16px;
}

/*-- --*/

#kind0_view {
  background-color: var(--shadow);
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.kind0_box {
  background: var(--background);
  display: flex;
  flex-direction: column;
  width: 70vmin;
  height: 70vmin;
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 72px;
  padding: 24px;
  border-radius: 4%;
  box-shadow: 0 0 0 1px var(--border);
}
#kind0_view_picture {
  width: fit-content;
  height: 50%;
  margin: 0 auto;
}
#kind0_view_picture_img {
  height: 80%;
  box-shadow: 0 0 0 1px var(--border);
  margin: 10% 0;
  border-radius: 100%;
}
#kind0_view_name {
  height: 10%;
  font-size: min(4vmin,20px);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: all;
}
#kind0_view_about {
  color: var(--color3);
  width: 92%;
  height: 25%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 4%;
  text-align: center;
  font-size: min(3vmin,15px);
}
#kind0_view_hide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  box-shadow: 0 0 0 1px var(--border);
  border-radius: 2vmin;
  transition: transform 0.125s ease;
  cursor: pointer;
}
#kind0_view_hide:active {
  transform: scale(0.875);
}

/* Tab 1 */

/* Tab 2 */

.contact_div {
  display: flex;
  width: 100%;
  margin-top: 16px;
  padding: 8px;
  gap: 8px;
}

#contact_input {
  background-color: var(--background);
  width: calc(100% - 48px);
  height: calc(1em + 32px);
  padding: 16px;
  font-size: 1em;
  line-height: 1;
  box-shadow: 0 0 0 1px var(--border);
  border-radius: 8px;
}

#contact_add {
  display: flex;
  width: calc(1em + 32px);
  height: calc(1em + 32px);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px var(--border);
  border-radius: 8px;
  transition: transform 0.125s ease;
  cursor: pointer;
}
#contact_add:active {
  transform: scale(0.875);
}

.contact {
  display: flex;
  padding: 8px;
  box-shadow: 0 0 0 1px var(--border);
  border-radius: 8px;
}

.contact .picture {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
}
.contact .picture img {
  width: 100%;
  height: 100%;
}

.contact .content {
  width: calc(100% - 96px);
  overflow: hidden;
  padding: 6px 8px;
  cursor: pointer;
}
.contact .content .name {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}
.contact .content .message, .contact .content .date {
  color: var(--color3);
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}
.contact .content .date {
  text-align: right;
}

.contact .btns {
  display: flex;
  flex-direction: column;
}

.contact .btns .delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin: 6px;
  box-shadow: 0 0 0 1px var(--border);
  border-radius: 8px;
  transition: transform 0.125s ease;
  cursor: pointer;
}
.contact .btns .delete:active {
  transform: scale(0.875);
}

.contact .btns .move {
  display: flex;
  width: 100%;
  height: 24px;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--border);
}

.contact .btns .move div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.875em;
}

/* Tab 3 */

.sk_warn {
  width: 15%;
  margin: 8px 42.5%;
}

#input_sk, #input_pk, #input_name, #input_about, #input_picture {
  background-color: var(--background);
  width: 100%;
  height: calc(1em + 32px);
  padding: 16px;
  margin: 16px auto 0 auto;
  font-size: 1em;
  line-height: 1;
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--border);
}

.sk_info , .pk_info {
  color: var(--color2);
  text-align: center;
  font-size: 12px;
  margin-top: 16px;
}

#input_pk {
  display: none;
}
#input_pk div {
  width: 98%;
  height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: all;
}

#copy_pk {
  margin-left: 2%;
  height: 1em;
  aspect-ratio: 1;
  transform: scale(1.5);
  transition: transform 0.125s ease;
  cursor: pointer;
}
#copy_pk:active {
  transform: scale(1.25);
}

#load_key, #make_key {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  padding:8px;
  margin:5px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--border);
  transition: transform 0.125s ease;
  cursor: pointer;
}

#load_key:active, #make_key:active {
  transform: scale(0.875);
}

#update_k0 {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  margin: 16px auto 0 auto;
  font-size: 1em;
  line-height: 1;
  box-shadow: 0 0 0 1px var(--border);
  border-radius: 8px;
  transition: transform 0.125s ease;
  cursor: pointer;
}
#update_k0:active {
  transform: scale(0.875);
}

#btn_logout {
  color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  margin: 16px auto 0 auto;
  font-size: 1em;
  line-height: 1;
  box-shadow: 0 0 0 1px var(--red);
  border-radius: 8px;
  transition: transform 0.125s ease;
  cursor: pointer;
}
#btn_logout:active {
  transform: scale(0.875);
}

/* Tab 4 */

.view .tab:nth-child(4) {
  padding: 0;
  overflow: hidden;
}
.view .tab:nth-child(4).active {
  position: relative;
  display: flex;
  flex-direction: column;
}
.view .tab:nth-child(4) .user {
  width: 100%;
  height: 64px;
  border: 1px solid var(--border);
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#exit_chat {
  width: 64px;
  height: 64px;
  transition: transform 0.125s ease;
  cursor: pointer;
}
#exit_chat img {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--border);
}
#exit_chat:active {
  transform: scale(0.875);
}
#messages_div {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#messages_div .page {
  background-color: var(--background);
  min-width: 150px;
  width: max-content;
  text-align: center;
  max-width: calc(100% - 32px);
  height: calc(12px + 16px);
  padding: 8px;
  margin: 8px auto;
  font-size: 12px;
  line-height: 1;
  border-radius: 16px;
  box-shadow: 0 0 0 1px var(--border);
  transition: transform 0.125s ease;
  cursor: pointer;
}
#messages_div .page:active {
  transform: scale(0.875);
}
#messages_div .big_info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 88px);
  padding: 50px;
}
#messages_div .message {
  background-color: #eee;
  position: relative;
  width: fit-content;
  min-width: 75px;
  max-width: 250px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
#messages_div .message.left {
  margin-right: auto;
  border-bottom-left-radius: 0;
}
#messages_div .message.right {
  margin-left: auto;
  border-bottom-right-radius: 0;
}
#messages_div .message.right .name {
  width: calc(min(100%,250px) - 16px);
}
#messages_div .message .name {
  font-size: 13px;
  line-height: 1.25;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: no-wrap;
}
#messages_div .message .delete {
  background-color: var(--background);
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 6px;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--border);
  transition: transform 0.125s ease;
  cursor: pointer;
}
#messages_div .message .delete:active {
  transform: scale(0.875);
}
#messages_div .message .delete img {
  width: 100%;
}
#messages_div .message .text {
  line-height: 1.25;
  word-wrap: break-word;
  white-space: break-word;
  word-break: break-word;
  height: auto;
}
#messages_div .message .time {
  color: var(--color3);
  text-align: right;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: -3px;
}

.view .tab:nth-child(4) .input {
  display: flex;
  width: 100%;
  gap: 8px;
  padding: 8px;
  min-height: 64px;
  max-height: 120px;
  box-shadow: inset 0 0 0 1px var(--border);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#message_input {
  width: 100%;
  resize: none;
  font-size: 1em;
  box-shadow: 0 0 0 1px var(--border);
  border-radius: 8px;
  padding: 10px;
  margin: 4px;
}

#send_message {
  width: 48px;
  height: 48px;
  aspect-ratio: 1;
  transition: transform 0.125s ease;
  cursor: pointer;
}
#send_message img {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--border);
}
#send_message:active {
  transform: scale(0.875);
}
